# Python Virtual Environment
venv/
*.venv/
.venv/
back/data/venv/ 

# raw data
back/data/raw/*.csv 


__pycache__/
*.pyc
# ==============================


# Logs
logs
*.log
npm-debug.log*
# ==============================


# Node / JS dependencies
node_modules/
jspm_packages/
bower_components/
# ==============================



# Build output / production
build/
dist/
out/
.next/
.nuxt/
.front/build/         
.vuepress/dist/
.temp/
.svelte-kit/
**/.vitepress/dist
.docusaurus/
.serverless/
build/Release
# ==============================


# Cache & temp files
.cache
.parcel-cache
.nyc_output
*.tsbuildinfo
.eslintcache
.stylelintcache
.npm
.vite.config.js.timestamp-*
.vite.config.ts.timestamp-*
# ==============================


# Testing / Coverage
coverage/
*.lcov
# ==============================


# Environment variables
.env
.env.*
!.env.example


# OS / IDE
.DS_Store
.node_repl_history
.vscode/
.vscode-test
# ==============================


# Other 
pids
*.pid
*.seed
*.pid.lock
lib-cov
.lock-wscript
*.tgz
.tern-port
.dynamodb/
.firebase/
